/*
North Carolina State University - Simple Framework Theme
Global Stylesheet
*/

/* BEGIN LAYOUT ------------------------------------- */

body{background-color:#ccc;font-family:"Arial", Verdana, Helvetica, sans-serif;font-size:62.5%;margin:0;padding:0;width:100%}
/* Note: Make HTML 5 elements block-level for consistent styling */
article,address,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
#wrapper{background-color:#FFF;margin:0 auto;padding:0;width:1000px; position: relative;}
#middle{background-color:#FFF;color:#333;padding:0px 0 0;width:1000px;}
#two_col_horiz section#content{clear:left;margin-left:20px}
#three_col_vert #headertop,#two_col_vert #headertop{margin-bottom:22px}
#headertop{margin-left:20px;width:960px}
#content{float:left}
#two_col_horiz #content,#two_col_vert #content{width:700px}
#three_col_vert #content{width:480px}

/* NOSCRIPT ALERT */
#js-alert { background-color: #CC0000; border-bottom: 1px solid white; color: white; font-size: 1.5em; padding: .3em; text-align: center;}

/* BRANDING BAR */
#brand_bar{height:32px;display:block}
#brand_bar.red{background:#CC0000}
#brand_bar.black{background:#000}

/* HEADER AND FOOTER */
#three_col_vert .bg #headertop,#two_col_vert .bg #headertop{border:none;margin-left:0;width:1000px}
.bg .border_bottom{display:none}
.bg #headertop{margin-left:0;padding-left:20px;width:980px}
.blackbg #headertop,.blackbg footer{background-color:#000;color:#FFF}
.redbg #headertop,.redbg footer{background-color:#CC0000;color:#FFF}

/* NAVIGATION */
nav{display:inline;float:left}
#two_col_horiz nav{border-bottom:1px solid #cfcdc8;margin-bottom:29px; margin-left: 20px; padding-left: 2px; width:960px;}
#two_col_horiz nav ul{ margin-left: 11px; margin-right: 11px;}
#two_col_horiz.whitebg nav {border-top:1px solid #cfcdc8}

#three_col_vert nav,#two_col_vert nav{border-bottom:1px solid #cfcdc8;margin:0 20px;width:220px}
#two_col_horiz nav ul li{display:inline;}
#two_col_vert nav ul, #three_col_vert nav ul {margin:0;padding:0 0 15px 14px}
nav ul li {background-image: url(../assets/bullet_nav-666.gif);background-repeat:no-repeat;background-position:0px 10px;padding-left:14px}
nav ul li ul li{background:none;padding:0}
#three_col_vert nav ul li.selected, #two_col_vert nav ul li.selected{background-image: url(../assets/bullet_nav-666.gif)}
#middle nav ul li a,#middle nav ul li a:visited{color:#666;font-size:1.4em;font-weight:700;line-height:1.8em;text-decoration:none;text-transform:uppercase}
nav ul li a:hover,nav ul li ul li a:hover{color:#333}
#middle nav ul li ul{padding:3px 0}
#wrapper #middle nav ul li ul li a{color:#666;font-family:"Verdana", sans-serif;font-size:1.1em;font-weight:400;line-height:2em;text-transform:none}
#middle nav ul li.selected a{color:#333}
#crumbs{line-height:1.7em;margin-bottom:10px}
#crumbs ul {margin-left: 0px; }
#content #crumbs ul li { color:#333;font-size:1.1em; list-style-image: none; display: inline; padding-right: 0px;}

/* ASIDE */
aside{display:inline;float:right;margin:0 20px 65px;width:220px}
.brite{margin-bottom:65px}
.brite p{margin-top:2px}
.brite img.thumb_copy{float:left;margin:2px 9px 0 0;padding:0;position:relative}
.brite .read_more{background:url(../assets/right-arrow.gif) no-repeat right 8px;clear:both;float:right;margin-bottom:10px;margin-right:5px;padding-right:10px;position:relative}

/* SEARCH BAR */
form#search-form {margin:0 0 10px 8px; padding:0 0 15px 0; border-bottom: 1px solid #CFCDC8;}
form#search-form div.search-box {width:208px;height:26px;border:1px solid #cfcdc8}
form#search-form input.search-query {padding-left:4px;width:162px;float:left;height:18px;border:none;background:none; font-size: 1.1em; padding-top: 6px; }
form#search-form input.search-button {margin:2px;padding:0;height:24px;width:32px;float:right;background:url('../assets/searchbtn.png') repeat scroll 0 0 transparent;border:0 none;cursor:pointer;float:right;height:22px;outline:medium none;text-indent:-9999px;width:28px}


/* FOOTER */
footer{padding:25px 0;text-align:center;width:100%}
footer ul li{display:inline;font-size:1.1em}
footer ul,footer p{margin-bottom:7px}
footer a{padding:0 4px}
.redbg footer a,.redbg footer a:hover,.redbg footer a:visited{color:#FFF}
.redbg footer, .blackbg footer { margin-top: 20px; }

.border_bottom{border-bottom:1px solid #cfcdc8;margin-left:20px;width:960px}

/* END LAYOUT --------------------------------------- */  


/* BEGIN TYPOGRAPHY --------------------------------- */

/* HEADINGS */
h1,h2,h3,h4,h5,h6{color:#cc0000;font-weight:400}
h1{border-bottom:1px #cfcdc8 solid;color:#666;font-size:1.95em;margin-bottom:22px;padding-bottom:20px}
h2{font-size:1.6em; padding:18px 0 22px 0;}
h3{font-size:1.4em;padding:0 0 10px}
h3{font-size:1.4em;padding:0 0 10px}
h4{font-size:1.3em;padding:10px 0}
h5{font-size:1.2em;padding:10px 0}
h6{font-size:1.2em;padding:10px 0}
#headertop h5{border-bottom:1px solid #cfcdc8;border-top:1px solid #cfcdc8;font-family:"Arial", Helvetica, sans-serif;font-size:3.7em;font-weight:400;line-height:1.25em;margin:8px 0 0;padding:17px 0 16px 25px}
#two_col_horiz #headertop h5{border-bottom:0}
.bg #headertop h5{margin-top:0;padding-top:25px}
#headertop h5 span{font-weight:700}
#headertop h5 a,#headertop h5 a:hover,#headertop h5 a:visited{text-decoration:none}
#headertop h5.red a,#headertop h5.red a:hover,#headertop h5.red a:visited{color:#CC0000}
#headertop h5.white a,#headertop h5.white a:hover,#headertop h5.white a:visited{color:#FFF}
#headertop h5.black a,#headertop h5.black a:hover,#headertop h5.black a:visited{color:#000}
.bg #headertop h5,.bg #headertop h5{border-bottom:none;border-top:none}

/* TEXT ELEMENTS */

a:link{color:#CC0000}
a:visited{color:#CC0000}
a:active,a:hover{text-decoration:none}
p{color:#333;font-family:"Verdana", Arial , Helvetica, sans-serif;font-size:1.1em;line-height:1.6em;margin-bottom:18px}
#content p{padding-right:10px}
#content ul li, #sidebar ul li{font-size:1.1em;line-height:1.4em;padding-bottom:5px}
#content li li, #sidebar li li{font-size:100%}
#content ul li, #sidebar ul li{list-style-image:url(../assets/right-arrow.gif)}
#content p,#content li,#content blockquote{padding-right:40px}
#two_col_horiz #content blockquote, #two_col_vert #content blockquote{padding-left: 40px; padding-right:40px}
#content ul{margin:0 30px 18px}
#sidebar ul{margin:0 12px 18px;}
ol{list-style:decimal;margin:0 0 18px 1.5em}
ol ol{list-style:upper-alpha}
ol ol ol{list-style:lower-roman}
ol ol ol ol{list-style:lower-alpha}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0}
dl{margin:0 0 24px}
dt{font-weight:700}
dd{margin-bottom:18px}
strong{font-weight:700}
cite,em,i{font-style:italic}
big{font-size:131.25%}
ins{background:#ffc;text-decoration:none}
blockquote{font-style:italic;padding:0 3em}
blockquote cite,blockquote em,blockquote i{font-style:normal}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;padding:1.5em}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
sup,sub{height:0;line-height:1;position:relative;vertical-align:baseline}
sup{bottom:1ex}
sub{top:.5ex}
input[type="text"],textarea{-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);background:#f9f9f9;border:1px solid #ccc;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);padding:2px}
thead{border-bottom:1px solid #999;border-top:1px solid #999}
tr td{padding:5px}
table{margin:5px 0}
.bg footer p{color:#FFF}

/* Text meant only for screen readers  */
.screen-reader-text{left:-9000px;position:absolute}

/* END TYPOGRAPHY ----------------------------------- */


/* BEGIN IMAGES ------------------------------------- */

.alignleft{float:left;margin-right:20px}
.alignright{float:right;margin-left:20px}
#content .aligncenter,#content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
#content img.alignleft,#content img.alignright,#content img.aligncenter{margin-bottom:12px}
#content figure{background-color:#ececec;line-height:1.4em;margin-bottom:15px;padding:0;text-align:center}
#content figure img{border:10px solid #ececec;margin:0}
#content figcaption{color:#777;font-size:1.1em;margin:5px;padding:0 2px 10px 5px;text-align:left}
#content .width480 img{background-color:#fff;border:none}
#content .width480{background-color:#fff;width:480px}
#content .width480 figcaption{padding-bottom:0}
#three_col .width480{margin-right:0}
/*important - will cause sidebar to drop down with margin  */
.width265{width:265px}
#content .width265 figcaption{font-size:.95em}

/* END IMAGES --------------------------------------- */


/* MISC CLASSES AND ELEMENTS*/

hr{background-color:#E7E7E7;border:0;clear:both;height:1px;margin-bottom:18px}
hr.divider{border:none;border-top:1px #cfcdc8 solid;height:1px}
.clear {clear:both}
